.navbar {
    overflow: hidden;
    background-color: #333;
    right: 5%;
    top: 5%;
    width: 90px;
    position: fixed;
    z-index: 999;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    color: black;
    background-color: whitesmoke;
}