<h3>
    Hi! My name is Zeb. I am a runner, climber, photographer, computer
    nerd, Software Engineer, and fun haver based in Central Oregon.
</h3>
<p>
    Check out my
    <a href="https://github.com/zmillslagle/">GitHub</a>.
</p>
<p>
    Follow me on
    <a href="https://www.instagram.com/zmillslagle/">Instagram</a>.
</p>
<p>
    Connect with me on
    <a href="https://www.instagram.com/zmillslagle/">LinkedIn</a>.
</p>
<p>
    Check out my photographery on
    <a href="https://lensdump.com/zmillslagle">Lensdump</a>.
</p>